@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(59, 130, 246, 0.5) rgba(17, 24, 39, 0.7);
}

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(17, 24, 39, 0.7);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(59, 130, 246, 0.5);
  border-radius: 20px;
  border: 2px solid rgba(17, 24, 39, 0.7);
}

@media (max-width: 768px) {
  *::-webkit-scrollbar {
    width: 4px;
  }
}